{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint",  "i18n"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "es2020": true
  },
  "ignorePatterns": ["postcss.config.ts", "tailwind.config.ts", "json-server/index.js", "setupTests.ts"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off"
  }
}
